body {
    margin: 0;
    background-color: #379777 !important;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}


.card-image {
    width: 20vw;
    height: 30vh;
}

nav {
    background-color: #379777 !important;
}

.create-post {
    background-color: #d3d3d3 !important;
}

.post {
    background-color: #d3d3d3 !important;
    color: black !important;
/*    max-height: 30vh;*/
/*    min-height: 30vh;*/
}

.post a {
    color: black !important;
    text-decoration: none !important;
}

.post-image {
    max-height:50vh;
    object-fit: contain;
}

.banner {
    background-color: #379777 !important;
}

form {
    color: #F5F7F8 !important;
}

footer {
    background-color: #379777 !important;
    color: #F5F7F8;
}

.comment {
    background-color: #379777 !important;
}

.post-container {
    background-color: #45474B !important;
}

.post-body {
    background-color: #F5F7F8 !important;
}

.about-container {
    color: white !important;
}

.about-container a {
    color: white !important;
}

.login-container, .contact-container, .register-container {
    color: white !important;
}

.news-card {
    margin: 8px;
    padding: 5px;
    background-color: #d3d3d3 !important;
}

.weather-column {
    overflow: scroll;
    background-color: #45474B !important;
    max-height: 50vh;
}

.weather-card {
    margin: 3px;
    padding: 5px;
    background-color: #d3d3d3 !important;
}

.news-header, .weather-header {
    color: white;
}
