{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container-fluid d-flex banner justify-content-center align-items-center w-100 h-50 p-5">
    <img src="/static/images/blog.png" class="w-25 opacity-50">
</div>
<div class="container about-container">
    <div class="col d-flex flex-column align-items-center">
        <h1>About Us</h1>
        <p>
            Hope you enjoy this random website - all icons and pictures are created by the artists below:<br>
        </p>
            <ul>
                <li><a href="https://www.flaticon.com/free-icons/blog" title="blog icons">Blog icons created by smashingstocks - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/free-icons/hand" title="hand icons">Hand icons created by Glassesboydesign - Flaticon</a></li>
                <li><a href="https://www.flaticon.com/free-icons/pen" title="pen icons">Pen icons created by Freepik - Flaticon</a></li>
            </ul>
    </div>
</div>
{% endblock %}