{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container-fluid d-flex banner justify-content-center align-items-center w-100 h-50 p-5">
    <img src="/static/images/blog.png" class="w-25 opacity-50">
</div>
<div class="container-fluid text-center">
    <h1>About Us</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
        Vestibulum dapibus orci et magna semper dignissim. Mauris vestibulum<br>
        gravida ipsum non dignissim. Sed nec purus magna. Aliquam venenatis tristique lectus, <br>
        nec vestibulum nisl tincidunt ac. Aenean nec varius leo. Nulla facilisi. <br>
        Nam pulvinar nulla et mi sodales, quis suscipit elit gravida. Suspendisse potenti. </p>
</div>
{% endblock %}